*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/library/build
/app/debug
/app/release
/library/debug
/library/release
/goldenFramework/build
/.idea/