<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goldensky.vip">
    <!-- 网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 8.0 系统需要 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 存储权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VIP"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".activity.customer.CustomerServiceActivity"></activity>
        <activity android:name=".activity.mine.tools.InviteCompanyActivity" />
        <activity android:name=".activity.mine.tools.ShareToFriendActivity" />
        <activity android:name=".activity.mine.tools.MyAddressActivity" />
        <activity android:name=".activity.mine.tools.CouponActivity" />
        <activity android:name=".activity.order.OrderListActivity" />
        <activity android:name=".activity.mine.focus.RecentBrowseActivity" />
        <activity android:name=".activity.mine.focus.CircleFocusActivity" />
        <activity android:name=".activity.mine.focus.GoodsFocusActivity" />
        <activity android:name=".activity.mine.settings.ChangeNickActivity" />
        <activity android:name=".activity.mine.settings.ChangePWDActivity" />
        <activity android:name=".activity.mine.settings.PersonalDetailsActivity" />
        <activity android:name=".activity.mine.settings.SettingsActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity android:name=".activity.account.LoginActivity" />
        <activity android:name=".activity.account.ForgetPasswordActivity" />
        <activity android:name=".activity.goods.PackageCustomizationActivity" />
        <activity android:name=".activity.goods.SearchActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.goods.GoodsDetailActivity" />
        <activity android:name=".activity.goods.GoodsDetail1Activity">


        </activity>
        <activity android:name=".activity.goods.SpecialPriceAreaActivity" />
        <activity android:name=".activity.goods.HotTodayActivity" />
        <activity android:name=".activity.goods.RecommendActivity" />
        <activity android:name=".activity.article.ArticleDetailActivity" />
    </application>

</manifest>